html, body {
    height: 100vh;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    
  }
  .card {
    background: #606060d0;
    color: white;
    border-radius: 30px;  
  }
  .table{
      color: white;
  }

  